go 1.25.6

use (
	./core
	./docs
	./examples/term/console
	./examples/term/counter
	./examples/term/inline-vs-fullscreen
	./examples/term/input
	./examples/term/scrollbox
	./examples/term/styling
	./examples/term/todolist
	./renderers/term
	./renderers/web
)
